<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<div class="left-menu">
    <table class="table">
        <tr>
            <td>
                <i class="far fa-folder-open"></i>
                <a routerLink="/contacts">Quản lý danh mục tin tức</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="far fa-folder-open"></i>
                <a routerLink="/detail">Quản lý trang chủ</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="far fa-newspaper"></i>
                <a routerLink="/news">Tin tức</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="far fa-star"></i>
                <a routerLink="#">Quản lý liên hệ</a>
            </td>
        </tr>
    </table>
</div>