<div class="detail-header">
    Update Quản lý trang chủ id = 100128
    <hr>
</div>
<div class="detail-title">
    <p>Meta titles</p>
    <input type="text">
</div>
<div class="detail-title">
    <p>Descripton</p>
    <input type="text">
</div>
<div class="detail-title">
    <p>Meta titles</p>
    <input type="text">
</div>
<div class="content">
    <select name="content" class="a">
        <option value="">content</option>
        <option value="">Block 1</option>
        <option value="">Block 2</option>
    </select>
</div>


